*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(83, 65, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 2px;
    font-size: 20px;
    color: rgb(221, 209, 209);
    padding-top: 25px;
}
body{
    background-color:rgb(233, 172, 80);
}
.container,.container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
img{
    padding: 45px;
    width: 400px;
    height: auto;
    border-radius: 40px;
}
.imgdiv{
        margin:50px;
        max-width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
        align-items: center;
        line-height: 90px;
}
button{
    width: 110px;
    height: 35px;
    border: 0px;
    transition: .3s;

}
button{
    background-color:  rgb(83, 65, 6);
    color: white;
    border-radius: 2PX;
}